.hero-image {
  width: 880px;
}

.company-logo {
  width: 165px;
  height: 165px;
  border: 1px solid black;
}

.hero-item {
  margin-right: 20px;
}

.seperator {
  margin-left: 20px;
}

.hero-tag {
  height: 30px !important;
}

.sidebar-tag {
  display: block !important;
}
