.nav-link {
  margin: 8px 0;
}

.login-link {
  font-size: 15px;
  display: block;
  border: 2px solid rgb(17, 17, 58);
  border-radius: 5px;
}

.navbar-nav {
  li {
    margin-right: 20px;
    font-size: 15px;
    font-weight: 400;
  }
}

.mt-10 {
  margin-top: 120px;
}

.mt-8 {
  margin-top: 80px;
}

.pl-10 {
  padding-left: 120px;
}

.pr-10 {
  padding-right: 120px;
}
